{
    "format_version": 1,
    "data_version": 5
    "nodes": [
        {% for host in groups['all'] %}
        {
        "host": "{{ hostvars[host]['ansible_fqdn'] | default(host) }}",
        "fingerprint": "{{ hostvars[host]['ansible_facts']['ansible_facts']['ansible_ssh_pub_key_rsa_public'] | default('') }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]
}
